.cart-dropdown-container {
  --cart-dropdown-height: 440px;

  position: absolute;
  max-width: 380px;
  width: 100%;
  height: var(--cart-dropdown-height);
  display: none;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 55px;
  right: 40px;
  z-index: 5;

  &[data-active="true"] {
    display: flex;
  }

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: calc(var(--cart-dropdown-height) - 100px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  button {
    margin-top: auto;
  }
}
