.categories-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (width >= 768px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
